.container-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.esquerdo {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/assets/login-images/imagens/cinema.png) no-repeat;
    background-size: cover;

}

.blur {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.186);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
}

.logo {
    width: 90%;
}

.retangulo-esquerdo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--retangulo);
    padding: 5%;
    height: 80%;
    border-radius: 30px;
    width: 80%;
}

.direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6% 18%;
    gap: 58%;
}

.fazerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho-login {
    text-align: center;
}


.titulo {
    font-size: 3rem;
    font-weight: 750;
}

.subtitulo {
    font-family: "Geometrica Sans";
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 3%;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

label {
    font-weight: 400;
    align-self: flex-start;
    margin-top: 4%;
    font-size: 1.15rem;
}

input {
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 250;
    width: 100%;
    margin-top: 1.4%;
    margin-bottom: 1.1%;
}

.campo-senha {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    transition: transform 0.15s ease-out;
}

.iconeOlho {
    display: block;
    position: absolute;
    right: 3%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 22px;
}

.iconeOlhoSlash {
    display: none;
    position: absolute;
    right: 3%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
}

.embaixo-input {
    display: flex;
    width: 100%;
}

.esqueceu-senha {
    font-size: 1rem;
}

.embaixo-input a {
    margin-top: 2%;
    color: black;
    font-weight: 300;
}

.botao-login {
    background-color: var(--vermelho);
    margin-top: 4%;
    color: white;
    padding: 2.8%;
    border: none;
    border-radius: 10px;
    font-weight: 750;
    font-size: 1.1rem;
    width: 100%;
}

.botao-login:hover {
    background-color: #781010;
    cursor: pointer;
}

.registrarBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75em;
    width: 100%;
}

.registrar {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 2.5%;
    margin-bottom: 0;
}

.registrar a {
    color: var(--vermelho);
    text-decoration: none;
    font-weight: 650;
}

.registrar a:hover {
    text-decoration: underline;
}

.entrarGoogle{
    display: flex;
    flex-direction: row;
    height: 20%;
    align-items: center;
    padding: 2%;
    gap: 15px;
    width: auto;
    border-radius: 10px;
    border: 2px solid var(--vermelho);
}

.entrarGoogle :hover{
    cursor: pointer;
}


.google{
    transition: transform 0.15s ease;
}

.google:hover {
    transform: translateY(-5px);
}

/* RESPONSIVIDADE */

 @media (max-width:1070px) {
    .registrar{
        font-size: 0.9rem;
    }
} 

@media (max-width:925px) {
    .registrar{
        font-size: 0.8rem;
    }
    .botoes-sociais {
        width: 10%;
    }

    .embaixo-input{
        flex-direction: column;
    }
}

/* MOBILE */
@media (max-width:770px) {
    .container-login {
        grid-template-columns: 1fr;
    }

    .esquerdo {
        display: none;
    }

    .direito {
        margin: 0;
        height: auto;
        background-image: url(/assets/login-images/imagens/cinema.png);
    }

    .embaixo-input{
        flex-direction: row;
    }

    .efeitoMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.186);
        backdrop-filter: blur(10px);
        height: 100%;
        width: 100%;
    }

    .fazerLogin {
        background-color: #ffffff;
        margin: 10%;
        padding: 5%;
        border-radius: 20px;
        width: 70%;
    }

    .registrar{
        font-size: 1.1rem;
    }
}

@media(max-width: 670px) {
    .titulo {
        font-size: 2.5rem;
    }

    .subtitulo{
        font-size: 1.6rem;
    }


    header {
        width: 95%;
    }

    .registrar{
        font-size: 0.9rem;
    }
}

@media (max-width:426px) {
    .cabecalho-login {
        font-size: 1.3rem;
    }

    .embaixo-input {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .embaixo-input label {
        font-size: 14px;
    }

    .registrar{
        font-size: 0.75rem;
    }
}